.reseña{
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
	/*color: #eee;*/
}

	.reseña .reseña_texto{
		width: 50%;
		height: 100%;
		display: flex;
	}
		.reseña .reseña_texto .res_contenedor{
			margin: auto;
			width: 80%;
			background: rgba(255,255,255,.6);
		}
			.reseña .reseña_texto .res_contenedor h1,
			.reseña .reseña_texto .res_contenedor p{
				padding:15px;
				text-align: justify;
			}
	.reseña .reseña_imagen{
		width: 50%;
		height: 100%;
		display: flex;
	}
		.reseña .reseña_imagen img{
			width: 80%;
			margin:auto;
		}

